.container{
    width: 100%;
}
.main_header{
    width: 100%;
    padding: 26px 100px;
    background-color: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.div_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-bars, .fa-xmark{
    font-size: 32px;
    color: #FFF;
    display: none;
}
.fa-solid:hover{
    cursor: pointer;
    color: #602313;
}

.active, .no_active{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.active, .no_active:hover{
    cursor: pointer;
    font-weight: 600;
    color: #130e0b;
}
.active{
    color: #D5906E;
    
}
.no_active{
    color: #FFF;
}

.navigation{
    width: 25.6%;

}
.navigation_ul{
    display: flex;
    justify-content: space-between;
}
.signin_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.signin_text{
    border: none;
    padding: 8px;
    background: transparent;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.signin_text:hover{
    cursor: pointer;
    background-color: #602313;
    border: 1px solid #D5906E ;
    border-radius: 8px;
}
.fa-cart-shopping{
    color: #FFF;
}

/* header */

/* section - cover */
.cover_section{
    padding: 0 40px;
    height: 720px;
    background-image: url("../images/jug_cover.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover_div{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_h1{
    text-align: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cover_text{
    width: 800px;
    margin-top: 16px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cover_button{
    width: 300px;
    margin-top: 72px;
    padding: 19px 0% 18px 0%;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #D5906E;  
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cover_button:hover{
    cursor: pointer;
    background-color: #461c11;
    backdrop-filter: opacity(50%);
    box-shadow: 0 0 30px 10px #B53B1B;
}
/* section - cover */

/* section - services */
.services_section{
    width: 100%;
    padding: 160px 2%;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.card_row1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.card{
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}
.card_img:hover{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 1000px;
    object-fit: cover;
}
.card_img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 70px;
}

.card_caption{
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* section - services */

/* section - gallery */
.gallery_section{
    padding: 96px 10%;
    /* height: 922px; */
    background-color: #402101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}
.gallery_div{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 60px;
    grid-template-rows: 322px 260px ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "gallery_img1 gallery_img1  gallery_img2"
                        "gallery_img3 gallery_img4 gallery_img5";
}
.gallery_img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.gallery_leaf_plates{
    object-position: 95%;
}
.gallery_img1{
    width: 100%;
    grid-area: gallery_img1;
}
.gallery_img2{
    width: 100%;
    grid-area: gallery_img2;
}
.gallery_img3{
    width: 100%;
    grid-area: gallery_img3;
}
.gallery_img4{
    width: 100%;
    grid-area: gallery_img4;
}
.gallery_img5{
    width: 100%;
    grid-area: gallery_img5;
}

/* section - gallery */

/* section - latest Products */
.latest_Products_section{
    padding: 160px 50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;

}
.header1_color{
    color: #402101;
}
.latest_Products_div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}
.latest_img_container{
    width: 300px;
    position: relative;
}
.div_item_latest{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px ;

}
.latest_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.price_latest_product{
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: white;
    border-radius: 20px;
    padding: 15px 17px 14px 17px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    /* translate: 16px -60px; */
}
.price_latest_product:hover{
    background-color: #B53B1B ;
    color: #FFF;
    font-size: 20px;

}
.fa-angle-right, .fa-angle-left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 26px;
    width: 44px;
    height: 44px;
    background-color: #B53B1B;
    border-radius: 4px;
}

.view_more_button{
    margin-top: 32px;
    display: none;
    color: #FFF;
    font-family:'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    background-color: #B53B1B;
    padding: 15px 32px 14px 31px;
    border: none;
}
.view_more_button:hover{
    cursor: pointer;
    background-color: #8e5243;
}

/* section - latest Products */
/* section - newsletter */
.newsletter_section{
    height: 480px;
    background-image: url(../images/process_cover.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 56px;
}
.newsletter_form{
    display: flex;
}
.newsletter_input{
    width: 100%;
    padding: 19px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #FFF;
    border-right: none;
    background-color: transparent;
    outline: none;
}
.newsletter_input::placeholder{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.newsletter_email_button{
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 21px;
    background-color: #FFF;
    text-align: center;
    border-radius: 0 10px 10px 0 ;
}
.newsletter_email_button:hover{
    background-color: #dfaba2;
}
/* section - newsletter */

/* section - q&a */
.questions_section{
    padding: 160px 50px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
.questions_section_header{
    margin-bottom: 16px;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.info_div{
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}
.questions_div{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.30);
}
.questions_header{
    margin-bottom: 24px;
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.questions_text{
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.questions_section_header2{
    margin-bottom: 12px;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.questions_button{
    padding: 14px 52px 13px 52px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 10px;
    background-color: #B53B1B;
}
/* .questions_button:hover{
    background-color: #706e6c;
} */
.questions_button:hover{
    cursor: pointer;
    /* background-color: #B53B1B; */
    box-shadow: 0 0 5px #B53B1B,
                0 0 20px #B53B1B,
                0 0 60px #B53B1B,
                0 0 150px #B53B1B;
                
}
/* section - q&a */
/* footer */
.main_footer{
    padding: 32px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #402101;
}
.middle_icon{  
    margin: 0 27px;
}
.icon_footer_header{
    margin-bottom: 16px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer_text{
    color: #FFF;
    font-family:'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.Privacy_margin{
    margin: 8px 0 43px 0;
}
.icon_footer_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_icon_hover:hover{
    cursor: pointer;
}
.contact_footer{
    display: flex;
    flex-direction: column;
    row-gap: 29px;
}

/* footer */

/* page2 - section 1 */
.section2_cover{
    height: 560px;
    background-image: url(../images/page2_cover.png);
    max-width: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* page2 - section 1 */
/* page 2 section - category */
.section_category{
    padding: 160px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 61px;
    justify-content: center;
    align-items: center;
}
.category_search_div{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.category_button{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fa-angle-down{
    color: #402101;
    margin-left: 16px;
}
.fa-angle-down:hover{
    color: #c79082;
}

.search_form{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.search_input{
    width: 100%;
    padding: 19px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #402101;
    border-right: none;
    outline: none;
}
.search_form::placeholder{
    color: rgba(64, 33, 1, 0.52);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.search_button{
    width: 40%;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #402101;
    text-align: center;
    border-radius: 0 10px 10px 0 ;
}
.search_button:hover{
    background-color: #92654e;
    border: none;
}

/* all category */
.all_category_div{
    width: 90%;
}
.all_category_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 94px;
}
.all_category_title{
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.all_category_sort_button{
    padding: 3px;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 2px solid #B53B1B;
    background-color: #FFF;
}
.all_category_sort_button:hover{
    background-color: #92654e;
}
.fa-arrow-up{
    margin-left: 40px;
}
/* card - category */
.all_category_cards{
    width: 100%;
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrapper_all_category_cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}
.category_card_img{
    object-fit: cover;
}

.card_name{
    margin: 24px 0 28px 0;
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #402101;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
}
.number_button{
    padding: 17px 18px 17px 19px;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #B53B1B;
    background-color: #FFF;
}
.current_button{
    color: #FFF;
    background-color: #B53B1B;
}
.number_button:hover{
    font-weight: 600;
    background-color: #D5906E;
    border: 2px solid #D5906E;
}
/* page 2 section - category */


/* page 3 section - form */

.input_section_page3{
    padding: 200px 100px;
    height: 720px;
    background-size: cover;
    background-image: url(../images/page3_cover.png);
    background-position: 70%;
    
}

.page3_form{
    max-width: 500px;
    padding: 24px 30px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: rgba(64, 33, 1, 0.73);
}
.input_section3_title{
    margin-bottom: 40px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user_input_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 60px; */
}
.input_name, .input_email{
    width: 47%;
}
.text_area{
    margin-top: 36px;
    width: 100%;
    height: 96px;
    resize: none;
}
.input_name, .input_email, .text_area{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #FFF;
    padding: 11px 0 12px 8px;
}
.input_name, .input_email, .text_area ::placeholder{
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}
.submit_input{
    margin-top: 36px;
    padding: 19px 42px 18px 43px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: #D5906E;
    border-radius: 10px;

}
.submit_input:hover{
    background-color: #98664e;

}
/* page 3 section - form */

/* map */
.map_section{
    padding: 160px 100px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    */
}
.map_h1_color{
    margin-bottom: 40px;
    color: #402101;
}
.map_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 78%;
    background-color: rgba(213, 144, 110, 0.30);
}
.info_div_map{
    padding: 0 2% 2% 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.map_title{
    color: #B53B1B;
    font-family:'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_map{
    color: #623932;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.middle_map_item{
    margin: 32px;
}
.iframe_map_div{
    width: 72%;
}
.iframe_map{
    width: 100%;
}
/* map */