@media (max-width: 1200px){
    .last_item_latest{
        display: none;
    }
    .fa-angle-right, .fa-angle-left{
        display: none;
    }
    .view_more_button{
        display: block;
    }
    .latest_Products_div{
        flex-direction: column;
        padding: 0 10px;
    }
    
    
}


@media (max-width: 992px) {
    .navigation{
        width: 20%;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 89px;
        left: -30%;
        background-color: #B53B1B;
    }
    .navigation_ul{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .fa-bars{
        display: block;
    }
    .burger_menu{
        left: 0;
    }
    .cover_text{
        width: auto;
    }

/* Gallery section */
    .gallery_section{
        padding: 20px;
    }
    .gallery_img3, .gallery_img5{
        display: none;
    }
    .gallery_div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }
    .gallery_img1, .gallery_img2, .gallery_img4{
        height: 240px;
    }
/*  latest products section */
    
}
